<div class="grid-container">
        <form action="/sok" method="post">
                <input type="text" placeholder="sök efter..." name="search" class="grid-search">
        </form>
    {{#each data}}
    <div class="grid-item">
        <img src={{this.image}} width="400" height="400">
        <a href={{this.ladress}}>
            <div class="grid-name ">
                <h4>
                    {{this.titel}}
                </h4>
            </div>
        </a>
        <div class="grid-price ">
            <h4>
                {{this.priceBTC}} btc
            </h4>
        </div>

        <div class="grid-nick">
            <a href={{this.uadress}}>
                <h4>
                    {{this.rating}}
                    {{this.sellernick}}
                </h4>
            </a>
        </div>
    </div>
    {{/each}}
</div>