<!-- 
    #[ x ] css grid with clear borders 2h
    #[ x ] add nicknames and message time format 15min
    #[ x ] pgp spoiler or message is over 
    
    #[ ] 1 open message in new window   use message id to open in new window use same security stuff for it then all other chat 
    #[ x ] Current order status bar
    #[ x ] textarea input 15min
    #[ x ] upload button
-->
<div class="chat-parrent">
    <nav>
        <ul>
            {{#each data.messages}}
            <div class="chat-cont">
                <div class="chat-name">
                    {{#if this.seller}}
                    <h4>seller:{{this.name}}</h4>
                    {{else}}
                    <h4>buyer: {{this.name}}</h4>
                    {{/if}}
                </div>
                <div class="chat-date">
                    <p>{{this.date}}</p>
                </div>
                <div class="chat-text">
                    <p>{{this.text}}</p>


                    {{#if this.image}}
                    <img src={{this.image}} width="400" height="400">
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </ul>
    </nav>
    <div class="chat-send">
        <form action={{data.postadress}} method="post" enctype="multipart/form-data" id="usrform">
            <div class="chat-form">
                <textarea rows="4" cols="50" name="text" form="usrform"></textarea>
                <div class="chat-file">
                    <label for="file">Ladda up bild</label>
                    <input type="file" id="file" name="file">
                </div>
                <input type="submit" value="skicka" />
            </div>
        </form>

    </div>
    <div class="chat-status">
        {{#if data.a0}}
        {{#if data.isSeller}}

        <form action={{data.postadressSend}} method="post" style="background-color: rgba(255, 0, 0, 0.301);">
            <input type="submit" />
        </form>
        {{else}}
        <h4 style="background-color: rgba(255, 0, 0, 0.301);">Vänta på att säljaren ska skicka</h4>
        {{/if}}
        {{/if}}

        {{#if data.a1}}
        {{#if data.seller}}
        <h4 style="background-color: rgba(238, 255, 0, 0.301);">
            Väntar på köparens betyg/disputering
        </h4>
        {{else}}
        <form action={{data.postadress}} method="post" style="background-color: rgba(0, 255, 55, 0.301);">
            <input type="text" max="150" name="text" />
            <input type="number" min="1" max="5" name="rating" />
            <button>betygsätt</button>
        </form>
        {{/if}}
        {{/if}}
        {{#if data.a2}}
        {{#if data.seller}}
        <h4 style="background-color: rgba(0, 255, 55, 0.301);">
            Order Avslutad
        </h4>
        {{/if}}
        {{/if}}
    </div>
</div>