<div>
    <form action="/logout" method="post">
        <input type="submit" value="logga ut" />
    </form>
    <h1>{{nick}}</h1>
    <h1>{{ratingNr}}</h1>
    <h1>{{rating}}</h1>
    <h1>{{disc}}</h1>
    <h1>{{wonDisputes}}</h1>
    <h1>{{lostDisputes}}</h1>
    <h1>ratings:</h1>
    {{#each reviews}}
    <h1>
        {{this.text}} {{this.rating}}
    </h1>
    {{/each}}
</div>