<!-- 
    [ ] 2 seller current listings
    [ ] 2 open chat to seller
    [ ] 1 last active
    [ ] 1 logout button
 -->
<div class="grid-container">
    <form action="/logout" method="post">
        <input type="submit" value="logga ut" />
        <div class="flex-text">
            
        </div>
        <table>
            <tr>
                <td>namn:</td>
                <td>{{nick}}</td>
            </tr>
            <tr>
                <td>betyg:</td>
                <td>{{rating}}/5 ({{ratingNr}})</td>
            </tr>
            <tr>
                <td>disput:</td>
                <td>{{wonDisputes}}/{{lostDisputes}}</td>
            </tr>
            <tr>
                <td>senast aktiv:</td>
                <td>placeholder</td>
            </tr>
        </table>
        <div class="flex-text">
        </div>
        <div class="flex-text">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into
                electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of
                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                Aldus PageMaker including versions of Lorem Ipsum
            </p>
        </div>

        <h1>{{disc}}</h1>
        {{#each reviews}}
        <h1>
            {{this.text}} {{this.rating}}
        </h1>
        {{/each}}
</div>